html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper.no-jackpot {
  background-color: #b6926d;
}

.wrapper.jackpot {
  background-color: #246db6;
}

.border {
  height: 128px;
  width: 100%;
  background-image: url("./img/border.png");
  background-repeat: repeat-x;
}

.border.border-top {
  background-position-y: bottom;
}

.border.border-bottom {
  background-position-y: top;
}

.main-body {
  height: 100%;
  width: calc(100% - 32px);
  background-position-y: bottom;
  background-position-x: right 3rem;
  background-repeat: no-repeat;
  padding: 16px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-body.no-jackpot {
  background-image: url("./img/ranma.png");
}

.main-body.jackpot {
  background-image: url("./img/lol.png");
}

label {
  font-family: "Press Start 2P", monospace;
}

.value {
  font-family: "Bungee Shade", sans-serif;
}

.big-starts {
  display: flex;
  flex-direction: column;
}

.big-starts label {
  font-size: 24px;
  display: inline-block;
}

.big-starts .value {
  font-size: 124px;
  vertical-align: center;
  top: -16px;
  height: 164px;
  position: relative;
}

.small-stats {
  display: flex;
  flex-direction: column;
}

.small-stats label {
  font-size: 16px;
  display: inline-block;
}

.small-stats .value {
  font-size: 80px;
  vertical-align: center;
  position: relative;
}

.crowd-image {
  position: absolute;
}
